.AddSectionButton{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    width: 45%;
    margin-bottom: 20px;
    margin-top: 5px;
}

.AddSectionButton:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.AddSectionButton h3{
    margin-left: 10px;
}