.AddSectionButton{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    width: 45%;
    margin-bottom: 20px;
}

.AddSectionButton:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.AddSectionButton h3{
    margin-left: 10px;
}