
.Container{
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    background-color: #F1F5FB;
}

.MainBody{
    width: 80%;
}

.SubHeader{
    border-bottom: 1px solid grey;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-top:50px;
}

.TemplateContainer{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding:50px;
}

.TemplateCard{
    border: none;
    background-color: #F1F5FB;
    border-radius: 10px;
}

.TemplateCard:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.templateName{
    margin: 5px;
}

.templateImage{
    margin: 5px;
}
