.Section{
    width: 80%;
    margin-bottom: 30px;
}

.TitleAndButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TitleAndButtons h2{
    margin-bottom: 10px;
}

.Buttons{
    display: flex;
}

.SectionContents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Line{
    width: 100%;
    height: 1px;
    background-color: grey;
}

.AddChildButton{
    margin-top: 10px;
    height: 50px;
    width: 100%;
    border-top: 1px dashed rgb(194, 194, 194);
    border-bottom: 1px dashed rgb(194, 194, 194);
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.AddChildButton:hover{
    background-color: rgb(207, 230, 236);
    
}