.Section{
    width: 80%;
    margin-bottom: 30px;
}

.TitleAndButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TitleAndButtons h3{
    margin-bottom: 10px;
    font-weight: 600;
}

.Buttons{
    display: flex;
    opacity: 0;
    transition: all 0.3s;
}

.Section:hover .Buttons{
    opacity: 1;
}

.SectionContents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.Line{
    width: 100%;
    height: 1px;
    background-color: grey;
}