
.Container{
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #F1F5FB;
}

.Previewer{
    flex: 1;
    min-height: inherit;
    display: flex;
    justify-content: center;
    background-color: #7A849A;
}



