.IconButton{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.IconButton:hover{
    background-color: rgba(128, 128, 128, 0.226);
}