.IconButton{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.IconButton:hover{
    background-color: rgba(128, 128, 128, 0.226);
}

.About{
    position: absolute;
    top: -50%;
    left: -30%;
    background-color:  black;
    border-radius: 5px;
    font-size: 9px;
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 0.3s;
    z-index: 1000;
}

.IconButton:hover .About{
    opacity: 1;
}