.InputBox{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.InputBox label{
    color: #BEC3CF;
    font-size: 16px;
}

.InputBox input{
    outline: none;
    border: none;
    height: 45px;
    background-color: #dae3f5;
    border-radius: 3px;
    font-family: "Poppins";
    font-size: 18px;
    padding: 12px 15px;
}

.InputBox input:focus{
    border-bottom: 3px solid #42A0E4;
    border-radius: 3px 3px 0px 0px;
}

.Type{
    font-style: italic;
    display: inline;
    color: grey;
}