.LowerContainer{
    height: 70%;
    display: flex;
    align-items:center;
    padding: 20px 60px;
}
.LowerContainerLeft{
    display:flex;
    flex-direction:column;
    width: 60%;
}

.btn{
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
}

.btn:hover{
    background-color: #333;
    cursor: pointer;
}

.LowerContainerRight{
    width:  50%;
}

.MainHeading{
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.Intro{
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: grey;
}