
.FlatButton {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 0px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}