.TextArea{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.TextArea label{
    color: #BEC3CF;
    font-size: 16px;
}

.TextArea textarea{
    background-color: #dae3f5;
    height: 150px;
    outline: none;
    border: none;
    padding: 12px 15px;
    font-size: 17px;
    font-family: "Poppins"; 
    resize: none;
    border-radius: 3px;
}

.TextArea textarea:focus{
    border-bottom: 3px solid #42A0E4;
    border-radius: 3px 3px 0px 0px;
}